.fill-container {
    min-height: 80%;
    max-height: 80vh;
    max-width: 80vh;
    height:auto !important; /* cross-browser */
    height: 80%; /* cross-browser */
}

.card-content {
    border: 0;
    height: 100%;
    width: 100%;
}

.no-overflow {
    overflow: hidden;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word;
}

/*************************************************************************
 *
 *  © [2018] PARC Inc., A Xerox Company
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Xerox Corporation.
 * The intellectual and technical concepts contained
 * herein are proprietary to PARC Inc. and Xerox Corp.,
 * and may be covered by U.S. and Foreign Patents,
 * patents in process, and may be protected by copyright law.
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.md', which is part of this source code package.
 *
 **************************************************************************/
