.fill-container {
    min-height: 80%;
    max-height: 80vh;
    max-width: 80vh;
    height:auto !important; /* cross-browser */
    height: 80%; /* cross-browser */
}

.card-content {
    border: 0;
    height: 100%;
    width: 100%;
}

.no-overflow {
    overflow: hidden;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word;
}