@import "color-template.import.less";


.analytics-nav-button {
  border: 0;
  margin: auto;
  font-weight:normal;
  background: @navigation-background;
  font-size: @date-header-font-size;
  color: white;
  height: @analytics-nav-height;
  width: 10vw;
  display: inline-block;
}

.analytics-nav-button-disabled {
  border: 0;
  margin: auto;
  font-weight:normal;
  background: @navigation-background-disabled;
  font-size: @date-header-font-size;
  color: white;
  height: @analytics-nav-height;
  width: 10vw;
  display: inline-block;
}


.analytics-table {
  border: 0;
  margin: auto;
  font-weight:normal;
  font-size: 3vw;
}

.analytics-table td, .analytics-table th {
  border: 0;
  padding: 0.5vw;
  font-weight: normal;
  font-size: @analytics-table-text-size;
  text-align: center;
}

.analytics-table img {
  max-height:4vh;
}

.analytics-table-mini {
  border: 0;
  margin: auto;
  font-weight:normal;
  font-size:  @analytics-mini-text-size;
}


.analytics-table-mini td, .analytics-table-mini th {
  border: 0;
  padding: 0;
  font-weight: normal;
  font-size: @analytics-mini-text-size;
  text-align: center;
}

.analytics-team-table {
  border: 0;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  text-align: center;
}

.analytics-team-table td, .analytics-team-table tr, .analytics-team-table th {
  border: 0;
  padding: 0;
  font-weight: normal;
  font-size: @analytics-mini-text-size;
  text-align: center;
}


.analytics-table-mini img {
  max-height: 2vh;
}

.analytics-fonts {
  font-size: @analytics-header-text-size;
}
.analytics-fonts-emphasis {
  font-style: italic;
}

.analytics-row-label {
  text-align: left !important;
  font-size: 85% !important;
}

.analytics-profile-pos {
  position: absolute;
  margin-top: 1vh !important;
  margin-left: 1vw!important;
}

.analytics-image-right {
  position: absolute;
  right: 2vw;
  top: 7vh;
}

.analytics-header {
  margin-top: 2vh;
}
