### WebStorm ###
.idea/
.DS_STORE

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz


pids
logs
!app/lib/api/logs/logs.js
results
latestBuild

npm-debug.log
node_modules

## Private Scripts ##
.npm
.git
.build*
build
#packages/

.drafts/
.temp/
app/PARCCoachAndroidKeystore.jks

apks/
release/latest_release_ACTUAL_VALUE_HERE/android/ACTUAL_HOSTNAME_GOES_HEREuction-ACTUAL_VALUE_HERE-21Feb2018.apk
release/latest_release_ACTUAL_VALUE_HERE/ios/FittleACTUAL_VALUE_HERE 2018-02-22 13-41-15